# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.# dependencies

node_modules
/.pnp
.pnp.js

# testing outputs
*/coverage

# production
*/build

# macOS filesyste
.DS_Store

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# client-specific files
client/node_modules

# server-specific files
server/node_modules
server/scripts/output